p{font-size: 14px;}

/* AppJs */
.HeaderComponent{margin-top: 70px;}


#signup h1{display: flex; justify-content: center;align-content: center;}
#id{background-color: #2874f0 !important;height: 55px !important} 
.logo {margin-left: 12%;}
.logo img{width: 75px;}
.subHeading{color:#ffffff;font-size: 10px;font-style: italic;}
.subHeading span{color: #ffe500;}
.subHeading img{width: 10px;}


/* searchBar */
#InputBase{width: 38%;height:36px;background-color: #ffffff;border-radius: 2px;display: flex;font-size: unset;}
.searchprod{width: 100%;margin-left: 20px;}
.searchIcon{color: #2874f0;margin: 5px;}

/* CustomButton */
#CustomButton{display: flex; justify-content: space-between;align-items: center;}
#CustomButton button{background-color: #ffffff; color: #2874f0;border-radius: 2px; margin-left: 10px;font-weight: 500;}
#CustomButton div{margin-left: 3rem;}   
.shoppingKart{display: flex;}

/* navBar */
.navBar{display: flex;justify-content: space-around;}
.navBar img{width: 65px;}
.navBar p{text-align: center;}

/* banner */
.banner{width: 100%;height:50vh;}

/* homebar */
.homebar{padding: 10px;background-color: #f2f2f2;}

/* dialogBox */
.dialogContainer{display: flex;}
.leftDialog{width: 40%;background: #2874f0;}
.leftDialog{ padding:20px;}
.leftLoginText{padding:20px;}
.rightDialog{padding: 20px;margin-bottom: 30px !important; width: 60%;}
.userName{width: 100%;margin-bottom: 30px !important;margin-top: 30px !important;}
.userPassword{width: 100%;margin-bottom: 30px}
.dialogTest{margin-bottom: 30px !important;margin-top: 30px !important;}
.loginButton{background: #fb641b !important;color: #ffffff !important;height: 48px;width: 100%;border-radius: 16px;text-transform: none !important;margin-bottom: 20px !important;}
.requestOtp{background: #fb641b !important;color: #ffffff !important;height: 48px;width: 100%;border-radius: 16px;text-transform: none !important;margin-bottom: 20px !important;}
.OrTest{text-align: center;margin-bottom: 30px !important;}

/* Signup */
.signupInput{width: 100% !important;margin-bottom: 30px !important;}